build*/
.vscode/
.idea/
.ccls
.ccls-cache
.clang-format
__pycache__
cmake-build-debug/
ffmpeg-player.exe
tests/it/CMakeFiles/
tests/it/CTestTestfile.cmake
tests/it/Makefile
tests/it/cmake_install.cmake
tests/ut/CMakeFiles/
tests/ut/CTestTestfile.cmake
tests/ut/Makefile
tests/ut/cmake_install.cmake
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
*.mp3
*.mp4
tests/st/gen_testsuites
