build*/
.vscode/
.idea/
.ccls
.ccls-cache
.clang-format
__pycache__
cmake-build-debug/
ffmpeg-player.exe
tests/it/CMakeFiles/
tests/it/CTestTestfile.cmake
tests/it/Makefile
tests/it/cmake_install.cmake
test/unittest/CMakeFiles/
test/unittest/CTestTestfile.cmake
test/unittest/Makefile
test/unittest/cmake_install.cmake
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
test/scenetest/gen_testsuites
